.git
.github
.claude
.clj-kondo
.lein-*
.pre-commit-config.yaml
*.log
*.edn~
*~
CLAUDE.md
config
dev-config.edn
docker/credentials.edn
docs
janelane-config.edn
node_modules
target/*
!target/uberjar
target/uberjar/*
!target/uberjar/*-standalone.jar
test
