/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/resources/nlp/models/*.bin
/resources/credentials.edn
.eastwood
/resources/version.edn
/.clj-kondo/.cache/
/.lsp
/node_modules
