---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: debug-statements
      - id: mixed-line-ending
      - id: detect-private-key
      - id: destroyed-symlinks
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 38980559e3a605691d6579f96222c30778e5a69e  # frozen: 3.0.0
    hooks:
      - id: forbid-binary
        exclude: >-
          (?x)^(
            resources/status/img/.*|
            doc/img/.*|
            resources/nlp/models.*
          )$
      - id: git-check

  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words-list", "edn,juxt", "--ignore-regex=.*codespell-ignore$"]
        exclude: >-
          (?x)^(
            resources/stopwords_.*|
            src/u1f596/regex\.clj|
            package-lock\.json
          )$

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: 5387279b3b4c24822c0f86d4df4f28b37e3e8992  # frozen: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d  # frozen: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'f12edd9c7be1c20cfa42420fd0e6df71e42b51ea'  # frozen: v4.0.0-alpha.8
    hooks:
    -   id: prettier
        types_or: [css, javascript]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 'f792d6b33f0673991b8c044b5bb3bcae0399ada5'  # frozen: 0.0.2
    hooks:
    -   id: stylelint
        args: ["--fix"]
        additional_dependencies: ['stylelint@16.0.2', 'stylelint-config-standard@35.0.0']

  - repo: https://github.com/allie-jo/cljfmt-docker
    rev: e13ac6a58c81f63f707da65308047cdfb4cb81b4  # frozen: v0.9.1
    hooks:
     - id: cljfmt-docker


  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: 7d6fb8d82a9bdc6c555912653037b1508cb0cb37  # frozen: v9.6.0
    hooks:
    - id: cspell
      args:
        - --no-must-find-files
        - --no-progress
        - --no-summary
        - --gitignore
        - --unique
      files: >-
          (?x)^(
          doc/.*|
          README\.md
          )$
