{:update-max-retires 5
 :postgresql {:database-name "livelongandread"
              :adapter "postgresql"
              :server-name "localhost"
              :username "llar"
              :auto-commit        true
              :read-only          false
              :connection-timeout 30000
              :validation-timeout 5000
              :idle-timeout       600000
              :max-lifetime       1800000
              :minimum-idle       10
              :maximum-pool-size  20
              :register-mbeans    false
              :pool-name          "llar-pool"
              :password ""}}
