{:update-max-retry 5
 :credentials-file "/var/lib/llar/credentials.edn"
 :runtime-config-dir "/var/lib/llar/config"
 :api {:dashboard {:port 9999}
       :reader {:port 8023}}
 :ui {:default-list-view {:storage :headlines
                          :shopping :headlines
                          :tweet :gallery}
      :favorites [[:all :default]
                  [:saved :item-tags]
                  [:highlight :item-tags]
                  [:in-progress :item-tags]
                  [:blog :source-tag]
                  [:hackernews :source-tag]
                  [:tech :source-tag]
                  [:deep-tech :source-tag]
                  [:sci :source-tag]
                  [:news :source-tag]
                  [:bookmark :type]
                  [:recreation :source-tag]]}
 :throttle {:command-max-concurrent 10}
 :timeouts {:readability 30
            :av-downloader 600
            :html2text 30}
 :commands {:pandoc "pandoc"
            :w3m "w3m"
            :lynx "lynx"
            :av-downloader "yt-dlp"
            :html2text "html2text"}
 :blob-store-dir "/var/lib/llar/blobs"}
