{:twitter-api {:app-key ""
               :app-secret ""
               :user-token ""
               :user-token-secret ""}
 :youtube {:api-key ""}
 :imap {:username ""
        :password ""}
 :reddit {:app-id ""
          :secret ""
          :username ""
          :password ""}}
