name: pre-commit

on:
  pull_request:
  push:
    branches:
        - main
        - 'wip/**'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install cljfmt
      run: |
        curl -sL https://github.com/weavejester/cljfmt/releases/download/0.16.0/cljfmt-0.16.0-linux-amd64-static.tar.gz \
          | tar -xz -C ~/.local/bin
        echo "$HOME/.local/bin" >> $GITHUB_PATH
    - uses: actions/setup-python@v5
    - uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
    - uses: pre-commit/action@v3.0.1
